@font-face {
    font-family: 'RobotoCondensed Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$font-robcond-regular: "RobotoCondensed Regular";

@font-face {
    font-family: 'RobotoCondensed Light';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$font-robcond-light: "RobotoCondensed Light";

@font-face {
    font-family: 'RobotoCondensed Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$font-robcond-bold: "RobotoCondensed Bold";
