@font-face {
    font-family: 'RobotoCondensed Regular';
    src: url('/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-robcond-regular: "RobotoCondensed Regular";

@font-face {
    font-family: 'RobotoCondensed Light';
    src: url('/fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-robcond-light: "RobotoCondensed Light";

@font-face {
    font-family: 'RobotoCondensed Bold';
    src: url('/fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-robcond-bold: "RobotoCondensed Bold";
